{% extends "base.html" %}
{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">To Do List</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Master Your Day: The Ultimate To-Do List Platform for Seamless Productivity and Success</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a
          class="btn btn-primary float-right"
          href="{{ url_for('create_todo')  }}"
          >Create New Post</a
        >
      </div>
    </div>
  </div>
    <div class="container">
      <ul class="list-group">
      {% for todo in all_todos %}
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
    <label class="form-check-label" for="firstCheckbox">{{todo.task|safe}}</label
  </li>
      {% endfor %}
    </ul>
    </div>
 <style>
    input[type=checkbox]:checked + label.form-check-label {
      text-decoration: line-through;
    }
  </style>
{% endblock %}